.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards__container {
  width: 80vw;
  max-width: 1000px;
  padding: 20px 10px;
  border-radius: 15px;
  background-color: var(--Gray20);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2vw;
}

/* langing */

.landing {
  width: 100vw;
  /* padding: 8vw; */
  padding-top: 15vw;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-bottom: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 5;
}

.landing__btns {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 50vw;
}

/* Proyects container */
.Projects__section {
  width: 90vw;
  max-width: 1000px;
  padding: 20px 10px;
  border-radius: 15px;
  background-color: var(--Gray20);
  display: flex;
  justify-content: center ;
  flex-wrap: wrap;
  align-items: center;
  gap: 2vw;
}

.Projects__search {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Project__type-submut {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Project_submit {
  background-color: #9ba4ed0d;
  color: var(--white);
  padding: 8px 20px;
  border-radius: 0px 15px 15px 0px;
  border-color: var(--Violet);
}
.Project__type {
  font-size: 1.5rem;
  background-color: var(--Dark_Blue);
  border-color: var(--Gray50);
  border-radius: 15px 0 0 15px;
}

.Projects__container {
  width: 80vw;
  /* max-height: 1000px; */
  max-width: 1000px;
  padding: 20px 10px;
  border-radius: 15px;
  background-color: var(--Gray20);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 5vw;
}


.project {
  width: 90%;
  max-width: 200px;
  max-height: 310px;
  padding: 10px;
  background-color: var(--Gray20);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  z-index: 5;
}

.proyectImg {
  width: 90%;
  border-radius: 15px;
}